

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-grid>
      <ion-row class="ion-align-items-center ion-margin ion-justify-content-between">

        <ion-col size="auto">
          <ion-button class="back" (click)="voltarParaTab1()">
            <ion-icon size="large" name="arrow-back-outline"></ion-icon>
          </ion-button>
        </ion-col>


        <ion-col class="ion-align-items-center" size="auto">
          <ion-row class="ion-align-items-center">
            <ion-button size="large" color="danger" shape="round" class="botaofavcar ion-margin-end"  >
              <ion-icon class="iconfavcar" slot="icon-only" name="Heart-outline" ></ion-icon>
            </ion-button>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-header>

  <ion-grid>
  <ion-grid class="imagens">
    <ion-row class="ion-justify-content-center">
      <ion-img class="img" src="../../assets/instant-coffee 1.png"></ion-img>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-img src="../../assets/Ellipse 70.png"></ion-img>
    </ion-row>
  </ion-grid>
</ion-grid>


<ion-card>
  <ion-card-header>
    <ion-card-title>Cycas Revoluta</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Cycas revoluta, conhecida no Brasil como sagu-de-jardim, é uma espécie de cicadófita do género Cycas da família Cycadaceae... read more
  </ion-card-content>
</ion-card>


  <ion-row class=" geralconteiner ion-justify-content-around ion-align-items-center">
    <ion-col class="conteiner1" size="auto"><h5 class="color">R$ 40</h5></ion-col>
    <ion-col size="auto" ><ion-button class="conteiner2"><ion-icon class="iconcar" name="cart-outline"></ion-icon>Carrinho</ion-button></ion-col>
  </ion-row>



