
<ion-content [fullscreen]="true">

  <ion-grid class="fundo2">
    <ion-row>
      <div class="fundo">
        <ion-card class="card">
          <ion-card-header>
            <ion-row class="ion-align-items-center">
              <ion-icon size="large" color="light" name="person-circle-outline"></ion-icon>
              <ion-card-title>SALVY.IA</ion-card-title>
            </ion-row>
          </ion-card-header>

          <ion-card-content>
            OLÁ, sou o Salvy e estou aqui para te ajudar na sua aventura de descobertas pelo mundo da botanica e jardinagem! Comece com alguma imagem de planta para identificação ou me pergunte algo.
          </ion-card-content>
        </ion-card>

        <!-- Ícones dentro da div, abaixo do card -->
        <ion-grid class="iconputs">
          <ion-row class=" ion-margin-top">
            <ion-col size="auto">
              <ion-icon color="light" size="large" name="image-outline"></ion-icon>
            </ion-col>
            <ion-col size="auto">
              
              <ion-icon color="light" size="large" name="camera-outline"></ion-icon>
            </ion-col>
            <ion-list>
              <ion-item class="input">
                <ion-input labelPlacement="stacked" placeholder="Mensagem">
                  <ion-button  color="dark" fill="clear" slot="end">
                    <ion-icon class="iconbut" slot="icon-only" name="mic-outline"></ion-icon>
                  </ion-button>
                </ion-input>
              </ion-item>
            </ion-list>
          </ion-row>
        </ion-grid>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>
