.back{
  --background: none;
  --background-activated: none;
  color: #708624;
}

.botaofavcar{
  height: 61.16px;
  width: 61.16px;
}
.iconfavcar{
  height: 40px;
  width: 40px;
  color: white;
}
.img{
  position: relative;
  top: 40px;
}
.imagens{
  margin-top: 105px;
}
ion-card{
  border-radius: 0px;
  box-shadow: none;
  --background:#D9D9D9 ;
  margin: 0px;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;

}
ion-card-title{
  font-size: 24px;
  padding-top: 30px;
}
ion-card-content{
  font-size: 18px;
  font-weight: bold;
  color: #5C5858;
}
.conteiner1{
background:#4FEB36;
width: 147px !important;
height: 76px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 10px;
}

.conteiner2{
width: 157px !important;
height: 73px;
--background:#DC9100;
--background-activated:#ac8028;
font-size: 24px;
  font-weight: bold;
}

.geralconteiner{
  background:#A1C130;
  margin: 0px;
  height: 135px;
}
.color{
  color: white;
  font-size: 24px;
  font-weight: bold;
}

