<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" href="/tabs/tab1">
      <ion-icon name="bag-handle-outline" color="light"></ion-icon>

    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/tabs/tab2">
      <ion-icon name="chatbox-ellipses-outline" color="light"></ion-icon>

    </ion-tab-button>

    <ion-tab-button tab="tab4" href="/tabs/tab4">
      <ion-icon name="leaf-outline" color="light"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab5" href="/tabs/tab5">
      <ion-icon name="person-outline" color="light"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
