

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-row>
    <ion-col><ion-img src="../../assets/Group 225.png" class="imgheader"></ion-img></ion-col>
    <ion-col><ion-img src="../../assets/Group 207.png" class="imgheader"></ion-img></ion-col>
  </ion-row>
  </ion-header>


  <ion-grid>
    <ion-button class="butoa"><ion-icon name="add-outline"></ion-icon>Adicionar</ion-button>
  </ion-grid>
</ion-content>

<ion-grid >
<div class="chao">
  <ion-img class="chao1" src="../../assets/Ellipse 72.png"></ion-img>
  <ion-img src="../../assets/Ellipse 71.png"></ion-img>
</div>
</ion-grid>

<ion-grid >
  <div class="mesa">
    <ion-button><ion-img class="botaoplanta" src="../../assets/—Pngtree—cartoon potted plant hand-painted potted_3776297 1.png"></ion-img></ion-button>
    <ion-img src="../../assets/Group 224.png"></ion-img>
  </div>
  </ion-grid>
