<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-grid>
      <ion-row class="ion-align-items-center ion-margin ion-justify-content-between">

        <ion-col size="auto">
          <ion-button (click)="voltarParaTab4()">
            <ion-icon size="large" name="arrow-back-outline"></ion-icon>
          </ion-button>
        </ion-col>


        <ion-col class="ion-align-items-center" size="auto">
          <ion-row class=" ion-align-items-center">
            <ion-text class="nome"><h4 >Minha Planta</h4></ion-text>

          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-header>


  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-text class="nomeplant"><h3 >Caio</h3></ion-text>
      <ion-col><ion-img class="imgjane" src="../../assets/Group 38.png"></ion-img></ion-col>
  </ion-row>

</ion-grid>
<div class="suporteplanta">
<ion-img class="planta" src="../../assets/—Pngtree—cartoon potted plant hand-painted potted_3776297 1.png"></ion-img>
<ion-img src="../../assets/Group 229.png"></ion-img>
</div>
<ion-grid>
  

  <ion-grid>
    <ion-row>
      <ion-col class="aguada">
        <ion-text class="Acai">
              <h3>Ja Reguei</h3>
        </ion-text>
        <ion-icon name="water"></ion-icon>
      </ion-col>
      <ion-col class="solzada">
        <ion-text class="Acai2">
          
              <h3>Ja Tomou sol</h3>
        </ion-text>
        <ion-icon name="sunny"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-grid>