ion-content{
  --background: #E7E7E7;
}
ion-button{
  --background: none;
  --background-activated: none;
}
ion-icon{
  color: #708624;
}
.nome{
  background:#A1C130;
  border-radius: 12px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 12px;
}
h4{
  color: white;
  font-weight:lighter;
}
h3{
  color: white;
  margin: 0px;
}
.imgjane{
  width: 142px;
  height: 240px;
  margin-left: 50px;

}
.nomeplant{
    display:flex;
    justify-content:center;
    align-items:center;
    background:#DC9100;
    border:4px solid #CCCCCC;
    border-radius: 12px;
    padding-left: 10px;
    padding-right: 10px;
    width:152px;
    height:41px;
    margin-left:40px;
}
.suporteplanta{
  position: relative;
   bottom: 80px;
   width: 50%;
   margin-left: 15px;
}
.planta{
  position: relative;
  top:18px;
  right: 10px;
}

.Acai{ display:flex;
  justify-content:center;
  align-items:center;
  background:#DC9100;

  border-radius: 12px;
  padding-left: 10px;
  padding-right: 10px;
  width:152px;
  height:41px;
}

  .Acai2{ display:flex;
    justify-content:center;
    align-items:center;
    background:#DC9100;
    border-radius: 12px;
    padding-left: 10px;
    padding-right: 10px;
    width:170px;
    height:41px;
  }

  .aguada{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .solzada{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .icon{
    color: white;
    width: 82px;
    height: 82px;
  }
.grid{
    background:#A1C130;
    padding: 0px;
    height: 255px;
    display: flex;
    justify-content: center;
  }