<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-grid>
      <ion-row class="ion-align-items-center ion-margin ion-justify-content-between">

        <ion-col size="auto">
          <ion-button (click)="voltarParaTab4()">
            <ion-icon size="large" name="arrow-back-outline"></ion-icon>
          </ion-button>
        </ion-col>


        <ion-col class="ion-align-items-center" size="auto">
          <ion-row class=" ion-align-items-center">
            <ion-text class="nome"><h4 >Minha Planta</h4></ion-text>

          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-header>


  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col><h4 class="nomeplant">Caio</h4></ion-col>
      <ion-col><ion-img class="imgjane" src="../../assets/Group 38.png"></ion-img></ion-col>
  </ion-row>
</ion-grid>
