<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-grid>
      <ion-row class="ion-align-items-center ion-margin ion-justify-content-between">

        <ion-col size="auto">
          <ion-button (click)="voltarParaTab1()">
            <ion-icon size="large" name="arrow-back-outline"></ion-icon>
          </ion-button>
        </ion-col>


        <ion-col class="ion-align-items-center" size="auto">
          <ion-row class="ion-align-items-center">
            <ion-col><ion-img class="icon" src="../../assets/cafe.png" size="auto"></ion-img></ion-col>
            <h4>Chás</h4>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-header>

    <ion-grid>
      <ion-row class="ion-justify-content-between">
        <ion-button (click)="Irpagcha()">
        <ion-card class="custom-card" >
          <img src="../../assets/Rectangle 90.png" alt="Planta" />
          <ion-card-header>
            <ion-card-subtitle class="card-subtitle">Cycás Revoluta</ion-card-subtitle>
            <ion-card-title class="card-title">Plantas</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-button>
      <ion-button (click)="Irpagcha()" >
        <ion-card class="custom-card" >
          <img src="../../assets/Rectangle 90.png" alt="Planta" />
          <ion-card-header>
            <ion-card-subtitle class="card-subtitle">Cycás Revoluta</ion-card-subtitle>
            <ion-card-title class="card-title">Plantas</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-button>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row class="ion-justify-content-between">
        <ion-button (click)="Irpagcha()" >
          <ion-card class="custom-card" >
            <img src="../../assets/Rectangle 90.png" alt="Planta" />
            <ion-card-header>
              <ion-card-subtitle class="card-subtitle">Cycás Revoluta</ion-card-subtitle>
              <ion-card-title class="card-title">Plantas</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-button>
        <ion-button (click)="Irpagcha()" >
          <ion-card class="custom-card" >
            <img src="../../assets/Rectangle 90.png" alt="Planta" />
            <ion-card-header class="">
              <ion-card-subtitle class="card-subtitle">Cycás Revoluta</ion-card-subtitle>
              <ion-card-title class="card-title">Plantas</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-button>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row class="ion-justify-content-between">
        <ion-button (click)="Irpagcha()">
          <ion-card class="custom-card" >
            <img src="../../assets/Rectangle 90.png" alt="Planta" />
            <ion-card-header>
              <ion-card-subtitle class="card-subtitle">Cycás Revoluta</ion-card-subtitle>
              <ion-card-title class="card-title">Plantas</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-button>
        <ion-button (click)="Irpagcha()" class="ion-magin">
          <ion-card class="custom-card" >
            <img src="../../assets/Rectangle 90.png" alt="Planta" />
            <ion-card-header>
              <ion-card-subtitle class="card-subtitle">Cycás Revoluta</ion-card-subtitle>
              <ion-card-title class="card-title">Plantas</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-button>
      </ion-row>
    </ion-grid>


</ion-content>

