<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-grid>
      <ion-row class="ion-align-items-center ion-margin ion-justify-content-between">
        <!-- Coluna para o botão à esquerda -->
        <ion-col size="auto">
          <ion-button (click)="voltarParaTab1()">
            <ion-icon size="large" name="arrow-back-outline"></ion-icon>
          </ion-button>
        </ion-col>

        <!-- Coluna para o ícone e o texto "Temperos" na mesma linha -->
        <ion-col class="ion-align-items-center" size="auto">
          <ion-row class="ion-align-items-center">
            <ion-col><ion-img class="icon" src="../../assets/spice jar2.png" size="auto"></ion-img></ion-col>
            <h4>Temperos</h4>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid >
      <ion-row >
        <ion-card class="custom-card">
          <img src="../../assets/Rectangle 90.png" alt="Planta" /> <!-- Substitua pelo caminho correto da sua imagem -->
          <ion-card-header>
            <ion-card-subtitle class="card-subtitle">Cycás Revoluta</ion-card-subtitle>
            <ion-card-title class="card-title">Plantas</ion-card-title>
          </ion-card-header>

        </ion-card>
        <ion-card class="custom-card">
          <img src="../../assets/Rectangle 90.png" alt="Planta" /> <!-- Substitua pelo caminho correto da sua imagem -->
          <ion-card-header>
            <ion-card-subtitle class="card-subtitle">Cycás Revoluta</ion-card-subtitle>
            <ion-card-title class="card-title">Plantas</ion-card-title>
          </ion-card-header>

        </ion-card>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-card class="custom-card">
          <img src="../../assets/Rectangle 90.png" alt="Planta" /> <!-- Substitua pelo caminho correto da sua imagem -->
          <ion-card-header>
            <ion-card-subtitle class="card-subtitle">Cycás Revoluta</ion-card-subtitle>
            <ion-card-title class="card-title">Plantas</ion-card-title>
          </ion-card-header>

        </ion-card>
        <ion-card class="custom-card">
          <img src="../../assets/Rectangle 90.png" alt="Planta" /> <!-- Substitua pelo caminho correto da sua imagem -->
          <ion-card-header>
            <ion-card-subtitle class="card-subtitle">Cycás Revoluta</ion-card-subtitle>
            <ion-card-title class="card-title">Plantas</ion-card-title>
          </ion-card-header>

        </ion-card>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-card class="custom-card">
          <img src="../../assets/Rectangle 90.png" alt="Planta" /> <!-- Substitua pelo caminho correto da sua imagem -->
          <ion-card-header>
            <ion-card-subtitle class="card-subtitle">Cycás Revoluta</ion-card-subtitle>
            <ion-card-title class="card-title">Plantas</ion-card-title>
          </ion-card-header>

        </ion-card>
        <ion-card class="custom-card">
          <img src="../../assets/Rectangle 90.png" alt="Planta" /> <!-- Substitua pelo caminho correto da sua imagem -->
          <ion-card-header>
            <ion-card-subtitle class="card-subtitle">Cycás Revoluta</ion-card-subtitle>
            <ion-card-title class="card-title">Plantas</ion-card-title>
          </ion-card-header>

        </ion-card>
      </ion-row>
    </ion-grid>

  </ion-header>
</ion-content>

