ion-content{
  --background: #E7E7E7;
}
ion-button{
  --background: none;
  --background-activated: none;
}
ion-icon{
  color: #708624;
}
ion-card{
  width: 150px;
  height: 209px;
  border-radius: 0px;

}
ion-card-header{
  background-color: #DC9100;
  padding: 0;

}
ion-card-title{
  font-size: 11px;
  font-weight: bold;
  color: #A5EC99;
  padding-left: 5px;
}
ion-card-subtitle{
  color: #fff;
  padding-left: 5px;
  font-size: 11px;
}
ion-card-header{
  height: 45px;
  display: flex;
  justify-content: center;
}
.custom-card {
  max-width: 200px; /* Largura máxima do card */
  margin: auto; /* Centraliza o card na tela */
  background-color: #fff; /* Fundo branco */
  box-shadow: 10px 8px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 30px;
}

.custom-card img {
  width: 100%; /* Imagem ocupa 100% da largura do card */
}
.icon{
  color: #708624;
}
ion-card-header{
  display: flex;
  align-items: flex-start
}
