.titulo{
  margin-top: 40px;
  margin-bottom: 20px;
  background:#A1C130 ;
  border-radius: 20px;
  color: white;
}
.item2{
  --background: #A1C130 !important;
  border-bottom:solid 8px #C7F038;
  border-left:solid 8px #C7F038;
  border-right:solid 8px #C7F038;
  font-size: 20px;
}
.item1{
  --background: #A1C130 !important;
  border:solid 8px #C7F038;
  border-radius: 32px 32px 0px 0px;
  font-size: 20px;
}
ion-label{
  font-size: 20px;
  font-weight: bold;
}
.pbaixo{
  margin-top: 57px;
}
