<ion-header [translucent]="true">
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
         <h5 class="titulo ion-padding">Perfil</h5>
        </ion-row>
      </ion-grid>
  </ion-header>

  <ion-grid>
    <ion-row class="ion-justify-content-center">
       <ion-img src="../../assets/Ellipse 63.png"></ion-img>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row class="ion-justify-content-center ">
        <ion-list class="pbaixo">
          <ion-item class="item1">
            <ion-icon class="ion-padding" name="person"color="light"></ion-icon>
            <ion-label fixed color="light" size="large">Paula Pereira</ion-label>
          </ion-item>
          <ion-item class="item2">
            <ion-icon class="ion-padding" name="mail" color="light"></ion-icon>
            <ion-label fixed color="light">Paulapereiragmail.com</ion-label>
          </ion-item>
          <ion-item class="item2">
            <ion-icon class="ion-padding" name="file-tray-full" color="light"></ion-icon>
            <ion-label fixed color="light">+55 11 9321 4214</ion-label>
          </ion-item>
          <ion-item class="item2">
            <ion-icon class="ion-padding" name="location"color="light"></ion-icon>
            <ion-label fixed color="light">Lins Vasconcelos</ion-label>
          </ion-item>
          <ion-item class="item2">
            <ion-icon class="ion-padding" name="finger-print" color="light"></ion-icon>
            <ion-label fixed color="light">RG:52.532.532-2</ion-label>
          </ion-item>
          <ion-item class="item2">
            <ion-icon class="ion-padding" name="file-tray-full" color="light"></ion-icon>
            <ion-label fixed color="light">CPF:342.543.256-01</ion-label>
          </ion-item>
        </ion-list>
        </ion-row>
      </ion-grid>
</ion-content>
