<ion-header [translucent]="true">
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
         <h5 class="titulo ion-padding">Perfil</h5>
        </ion-row>
      </ion-grid>
  </ion-header>

  <ion-grid>
    <ion-row class="ion-justify-content-center">
       <ion-img src="../../assets/Ellipse 63.png"></ion-img>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-list>
          <ion-item>
            <ion-icon></ion-icon>
            <ion-label>Paula Pereira</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon></ion-icon>
            <ion-label>Paulapereiragmail.com</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon></ion-icon>
            <ion-label>+55 11 9321 4214</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon></ion-icon>
            <ion-label>Lins Vasconcelos</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon></ion-icon>
            <ion-label>RG:52.532.532-2</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon></ion-icon>
            <ion-label>CPF:342.543.256-01</ion-label>
          </ion-item>
        </ion-list>
        </ion-row>
      </ion-grid>
</ion-content>
