ion-icon {
    color: white;
  }

.icon2{
    color: #708624;
}

.fotofundo{
    height: 130px;
}

.botaocat{
    height: 101.16px;
    width: 101.16px;
    --background: #DC9100;
    --background-activated: #a06b01;
}
.botaofavcar{
    height: 61.16px;
    width: 61.16px;

}
.iconfavcar{
    height: 40px;
    width: 40px;
}
.button-inner{
  display: flex;
  --flex-direction: column;
}

.text-buton{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prod{
  margin-left: 24px;
}

.card{
  background: none;
  height: 286px;
  box-shadow: none !important;
  width: 200px;
  flex-shrink: 0;
}
.cardtext{
  width: 197px;
  position: relative;
  bottom: 90px;
}
ion-fab-button{
  margin-left: 115px;
  width: 42px;
  height: 42px;
  --background: #8AC149;
  --background-activated: #719e3d;
}

.card-scroll-container {
  height: 350px;
  width:1100px;
  display: flex;
  overflow-x: scroll;
}
