ion-icon {
    color: white;
  }

.icon2{
    color: #708624;
}

.fotofundo{
    height: 130px;
}

.botaocat{
    height: 101.16px;
    width: 101.16px;
    --background: #DC9100;
    --background-activated: #a06b01;
}
.botaofavcar{
    height: 61.16px;
    width: 61.16px;
}
.iconfavcar{
    height: 40px;
    width: 40px;
}