
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-grid>
        <ion-row class="ion-align-items-center ion-margin">
          <ion-col size="auto"><ion-icon size="large" name="bag-handle-outline" class="icon2"></ion-icon></ion-col>
          <ion-col><h4>Marketplace</h4></ion-col>
          <ion-col size="auto" class="ion-margin-end" >
            <ion-button (click)="irParaFavoritos()" size="large" color="danger" shape="round" class="botaofavcar ion-margin-end"  >
              <ion-icon class="iconfavcar" slot="icon-only" name="Heart-outline" ></ion-icon>
            </ion-button>
            <ion-button (click)="irParaCarrinho()" size="large" class="botaofavcar " color="success" shape="round">
              <ion-icon class="iconfavcar" slot="icon-only" name="cart-outline"></ion-icon>
            </ion-button>
          </ion-col>


        </ion-row>
        </ion-grid>
    </ion-toolbar>
  </ion-header>


  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col class="fotofundo" size=10.8>
        <ion-img src="../../assets/Group 205.png" ></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row class="ion-justify-content-end ion-margin">
      <ion-col>
          <ion-button (click)="irParaTemperos()" shape="round" class="botaocat" >
            <div class="text-buton">
              <ion-img src="../../assets/spice jar.png" slot="icon-only"></ion-img>
              <small>Temperos</small>
            </div>
          </ion-button>
      </ion-col>

        <ion-col>
         <ion-button (click)="irParaChas()" shape="round" class="botaocat" >
          <div class="text-buton">
            <ion-img src="../../assets/emoji_food_beverage_24dp_FFFF_FILL0_wght400_GRAD0_opsz24 1.png " slot="icon-only"></ion-img>
            <small>Chás</small>
          </div>
          </ion-button>
        </ion-col>

      <ion-col>
        <ion-button (click)="irParaMudas()" shape="round" class="botaocat" >
          <div class="text-buton">
        <ion-img src="../../assets/Seedlings.png" slot="icon-only"></ion-img>
          <small>Mudas</small>
        </div>
      </ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>

<ion-grid class="prod">
<ion-row class="ion-align-items-center">
   <ion-col size="1.3"><ion-img src="../../assets/Farm Products.png" size="auto"></ion-img></ion-col>
   <ion-col><h4>Produtos</h4></ion-col>
</ion-row>
</ion-grid>



<ion-grid>
    <ion-row class="card-scroll-container">
      <ion-col size="auto">
        <ion-card class="card">
          <img class="cardcinza" src="../../assets/Rectangle 64.png"/>

          <ion-card-header class="cardtext">
            <ion-card-subtitle>R$10</ion-card-subtitle>
            <ion-card-title>Lorem</ion-card-title>
            <ion-fab>
              <ion-fab-button>
                <ion-icon name="add" class="iconbut"></ion-icon>
              </ion-fab-button>
            </ion-fab>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="auto">
        <ion-card class="card">
          <img class="cardcinza" src="../../assets/Rectangle 64.png"/>

          <ion-card-header class="cardtext">
            <ion-card-subtitle>R$10</ion-card-subtitle>
            <ion-card-title>Lorem</ion-card-title>
            <ion-fab>
              <ion-fab-button>
                <ion-icon name="add" class="iconbut"></ion-icon>
              </ion-fab-button>
            </ion-fab>
          </ion-card-header>
        </ion-card>
      </ion-col>

    </ion-row>
</ion-grid>
</ion-content>
