@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    src: url(../assets/Quicksand-VariableFont_wght.ttf);
}
:root {
  --ion-font-family: Quicksand;
  }

$font-family-base:"Quicksand";
h4{
    font-family: 'Quicksand';
    font-weight: bold;
    color: #708624;
}

ion-card-title{
  font-family: 'Quicksand';
    font-weight: bold;
    font-size: 20px;
}

ion-card-subtitle{
  font-family: 'Quicksand';
  font-weight: normal;
}

h3{
  font-family: 'Quicksand';
  font-weight: bold;
}


