@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    src: url(../assets/Quicksand-VariableFont_wght.ttf);
}

$font-family-base:"Quicksand";
h4{
    font-family: 'Quicksand';
    font-weight: bold;
    color: #708624;
}