

<ion-content [fullscreen]="true">
  <ion-content>
    <ion-grid>
    <div class="tudo">
      <div class="Caixa">
        <div class="texto">
          <p>Para tocar o inacessível chão
            é necessário a imensurável compreensão</p>
        </div>

        <ion-img class="janela" src="../../assets/Group 37.png" alt=""></ion-img>
        <ion-img class="planta" src="../../assets/Ellipse 62.png" alt=""></ion-img>
        <ion-img class="chao" src="../../assets/shine-sansevieria-plant-in-orange-pot 1.png" alt=""></ion-img>
      </div>
  
      <div class="botoes">
        <ion-button expand="block" (click)="irParaMarketplace()" class="botao1">
          <p class="botaotexto">Loja</p>
        </ion-button>
  
        <ion-button expand="block" (click)="irParaChatbot()"class="botao2">
          <p class="botaotexto">Salvy.ia</p>
        </ion-button>
      </div>
    </div>
  </ion-grid>  
  </ion-content>  
</ion-content>
