ion-content{
  --background: url(../../assets/pexels-francesco-ungaro-4322027 2.png) #151313;;
}
.img{
  background-color: #d9d9d97e;
}
ion-list{
  background-color: rgba(0, 0, 0, 0.40);
  display: flex;
  flex-direction: column;
  align-items: center
}
ion-input{
  width: 290px;
}
.butoon{
  width: 149px;
  --border-radius: 0px;
  --background: #FFFF;
  --background-activated: #bbbbbb;
  color: black;

}
.margn{
  margin-top: 100px;
}
.data{
  width: 40px;
}
